body{
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(222, 156, 115);
    font-family: Arial, Helvetica, sans-serif;
}
.todoList{
    background-color: rgb(20, 3, 3);
    border-radius: 10px;
    border: 4px solid rgb(15, 15, 110);
    color: #fff;
    padding: 30px 10px;
    text-align: center;
    width: 300px;
    height: auto;
}
.addBtn{
    background-color: rgb(26, 26, 238);
    padding: 10px 20px;
    color: #fff;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
#input{
    border-radius: 6px;
    border: none;
    padding:10px 20px ;
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 8px;
    margin-bottom: 10px;
}
hr{
    border: none;
    height: 2px;
    background-color: blue;
}
ul{
    list-style: none;
    padding: 10px;
}
li{
    border: 1px solid #fff;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 10px;
    list-style: disc;
}
/* #complete{
    display: flex;
    gap: 10px;
    justify-content: center;
} */